@import url('https://fonts.cdnfonts.com/css/helvetica-2');

* {
    box-sizing: border-box;
}

html {
    background-color: #282828;
    text-align: center;
    font-size: 10px;
    font-family: 'Helvetica';
}

body {
    margin: 0;
    font-size: 2rem;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}



#header {
    grid-column-start: 1;
    grid-column-end: -1;
    color: white;
}



.clock {
    display: grid;
    width: 30rem;
    height: 30rem;
    position: relative;
    padding: 2rem;
    border: 7px solid #282828;
    box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5),
        inset 4px 4px 10px rgba(0, 0, 0, 0.5),
        inset -4px -4px 10px rgba(67, 67, 67, 0.5),
        4px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    margin: 20px auto;
}

.outer-clock-face {
    position: relative;
    background: #282828;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.outer-clock-face::after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg)
}

.outer-clock-face::after,
.outer-clock-face::before,
.outer-clock-face .marking {
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background: #50F3F5;
    z-index: 0;
    left: 49%;
}

.outer-clock-face .marking {
    background: #bdbdcb;
    width: 3px;
}

.outer-clock-face .marking.marking-one {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    transform: rotate(30deg)
}

.outer-clock-face .marking.marking-two {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    transform: rotate(60deg)
}

.outer-clock-face .marking.marking-three {
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    transform: rotate(120deg)
}

.outer-clock-face .marking.marking-four {
    -webkit-transform: rotate(150deg);
    -moz-transform: rotate(150deg);
    transform: rotate(150deg)
}


.inner-clock-face>span {
    font-weight: 600;
    color: white;
    border-radius: 50%;
    position: absolute;
    transform: rotate(calc(var(--n) * 30deg));
    transform-origin: 8px 110px;
    margin-left: 104px;
    margin-top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-clock-face {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: #282828;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    z-index: 1;
}

.inner-clock-face::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    border-radius: 18px;
    margin-left: -9px;
    margin-top: -6px;
    background: #4d4b63;
    z-index: 11;
}

.hand {
    width: 50%;
    right: 50%;
    height: 6px;
    background: #61afff;
    position: absolute;
    top: 50%;
    border-radius: 6px;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hand.hour-hand {
    width: 30%;
    z-index: 3;
}

.hand.min-hand {
    height: 3px;
    z-index: 10;
    width: 40%;
}

.hand.second-hand {
    background: #ee791a;
    width: 45%;
    height: 2px;
}

.task-container {
    color: white;
}

.tasklist {
    max-height: 300px;
    overflow-y: scroll;
}

.task {
    background-color: #282828;
    color: white;
    border: 0;
    cursor: default;
    text-align: center;
    font-size: 16px;
}

.task:focus {
    outline: none;
    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
}

#taskInput {
    background-color: #282828;
    border: 0;
    border-bottom: 1px solid #61afff;
    color: white;
    text-align: center;
    font-weight: 500;
}

#taskInput:focus {
    outline: 0;
    border-bottom: 1px solid white;
    transition: 0.3s ease-in-out;
}

#timeInput {
    background-color: #282828;
    color: #61afff;
    border: 0;
    outline: none;
    font-weight: 600;
    width: 28px;
    cursor: initial;
}

#timeInput::-webkit-calendar-picker-indicator {
    scale: 1.5;
    cursor: pointer;
    filter: invert(64%) sepia(22%) saturate(1932%) hue-rotate(184deg) brightness(101%) contrast(101%);
}



#add,
#update,
#cancel {
    background-color: #282828;
    color: #61afff;
    border: 0;
    padding: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

#editBtn,
#deleteBtn {
    background-color: #282828;
    border: 0;
    margin: 0 5px;
    font-size: 16px;
}

#editBtn:hover,
#deleteBtn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hide {
    display: none;
}

li {
    list-style: none;
    text-align: center;
    margin-top: 20px;
}

li:hover #editBtn,
li:hover #deleteBtn {
    display: initial;
}

.editmode {
    background-color: #282828;
    color: white;
    border: 0;
    border-bottom: 1px solid white;
    text-align: center;
    font-size: 16px;
    outline: 0;
}

.task-time {
    background-color: #282828;
    border: 0;
    font-size: 16px;
    text-align: center;
    color: white;
    outline: 0;

}

.time-edit-mode {
    background-color: #282828;
    color: rgb(255, 255, 255);
    border: 0;
    outline: none;
    font-weight: 600;
    width: 28px;
    cursor: initial;
}

.time-edit-mode::-webkit-calendar-picker-indicator {
    scale: 1.5;
    cursor: pointer;
    filter: invert(100%) sepia(4%) saturate(0%) hue-rotate(56deg) brightness(116%) contrast(100%);
}

@media screen and (max-width: 600px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, auto);
    }
}